/*
font-family: 'Josefin Slab', serif;
font-family: 'Monoton', cursive;
#041a26
#fdc23e
*/

html {
   background-color: #041a26;
   color: #fdc23e;
   text-align: center;
   font-family: 'Josefin Slab', serif;
}

h1 {
   font-family: Monoton;
   font-size: 86px;
   margin: 1em 0 0.5em;
}

h2 {
   margin: 1.25em 0 1em;
   font-size: 28px;
}

table, tr, td {
   border: 1px solid #fdc23e;
}

table {
   border-collapse: collapse;
   margin: 0 auto 100px auto;
}

tr {
   height: 20px;
}

td {
   width: 20px;
}

.cells {
   border: solid #fdc23e 1px;
   background-color: #041a26;
}

input {
   font-family: 'Josefin Slab', serif;
   font-size: 16px;
   color: #fdc23e;
   padding: 15px;
}

input::placeholder {
   color: #fdc23e;
   font-size: 16px;
   font-family: 'Josefin Slab', serif;
}

.cursor {
   cursor: pointer;
}

.button:hover {
   background-color: #f9a11b;
   color: #041a26;
   transition: background-color 0.25s ease-out;
}

/*.inActive {
   background-color: white;
   border: 1px solid #f9a11b;
}*/