/*
font-family: 'Josefin Slab', serif;
font-family: 'Monoton', cursive;
#041a26
#fdc23e
*/

html {
   text-align: center;

   color: #fdc23e;
   background-color: #041a26;

   font-family: 'Josefin Slab', serif;
   font-size: 16px;
}

h1 {
   margin: 10% auto 5%;

   font-family: Monoton;
   font-size: 5.4rem;
}

h2 {
   margin: 5% auto 2%;

   font-size: 2rem;
}

table {
   margin: 0 auto 10%;

   border-collapse: collapse;
}

td {
   width: 22px;
   height: 21px;

   border: 1px solid #fdc23e;
}

.off {
   background-color: #041a26;
}

.on {}

.inputs {
   width: 130px;
   padding: 15px;

   text-align: center;

   color: #fdc23e;
   border: solid #fdc23e 1px;
   outline: none;
   background-color: #041a26;

   font-family: 'Josefin Slab', serif;
   font-size: 1rem;
}

input[type="number"]:focus {
   background-color: rgba(252, 194, 62, 0.1);
}

input::-webkit-input-placeholder {
   color: #fdc23e;
   border: none;
}

input:-ms-input-placeholder {
   color: #fdc23e;
   border: none;
}

input::placeholder {
   color: #fdc23e;
   border: none;
}

input[type="number"]:focus::-webkit-input-placeholder {
   color: rgba(252, 194, 62, 0);
   border: none;
}

input[type="number"]:focus:-ms-input-placeholder {
   color: rgba(252, 194, 62, 0);
   border: none;
}

input[type="number"]:focus::placeholder {
   color: rgba(252, 194, 62, 0);
   border: none;
}

.button, #colorPicker {
   width: 50px;

   cursor: pointer;

   outline: none;
}

.button:hover, button:active, button:focus {
   -webkit-transition: background-color 0.4s ease;
   transition: background-color 0.4s ease;

   color: #041a26;
   background-color: #f9a11b;
}

.button:active {
   -webkit-transform: translateY(1px);
   transform: translateY(1px);
}