/*
font-family: 'Josefin Slab', serif;
font-family: 'Monoton', cursive;
#041a26
#fdc23e
*/

html {
   text-align: center;

   color: #fdc23e;
   background-color: #041a26;

   font-family: 'Josefin Slab', serif;
}

body {
   background-imag: url();
}

h1 {
   margin: 1em 0 0.5em;

   font-family: Monoton;
   font-size: 86px;
}

h2 {
   margin: 1.25em 0 1em;

   font-size: 28px;
}

table, tr, td {
   border: 1px solid #fdc23e;
}

table {
   margin: 0 auto 100px auto;

   border-collapse: collapse;
}

tr {
   height: 22px;
}

td {
   width: 22px;
   background-color: #041a26;
}

.cells {
   width: 130px;
   padding: 15px;

   text-align: center;

   border: solid #fdc23e 1px;
   background-color: #041a26;

}

input {
   padding: 15px;

   color: #fdc23e;
   outline: none;

   font-family: 'Josefin Slab', serif;
   font-size: 16px;
}

input::placeholder {
   color: #fdc23e;

   font-family: 'Josefin Slab', serif;
   font-size: 16px;
}

.cursor {
   width: 50px;

   cursor: pointer;
}

.button:hover {
   -webkit-transition: background-color 0.25s ease-out;
   transition: background-color 0.25s ease-out;

   color: #041a26;
   background-color: #f9a11b;
}